@use '../../styles/button';
.products__container {
    min-height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    nav {
        background-color: #eaeaea;
        flex: 1;
        button {
            @include button.btnStyle(rgb(90, 90, 90), transparent);
            width: 100%;
            justify-content: flex-start;
            padding: 5% 10%;
            margin: 0;
            font-size: 16px;
            font-weight: 400;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
        }
        .category-active{
            font-weight: 600;
        }
    }

    .products__cardContainer {
        margin-top: 10px;
        flex: 3;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: #fff;
    }
    .products__mobile-cardContainer{
        display: none;
    }
    @media screen and (max-width: 992px) {
        .products__cardContainer {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width: 540px) {
        nav{
            display: none;
        }
        .products__cardContainer {
            display: none;
        }
        .products__mobile-cardContainer{
            display: block;
            width: 100%;
            .products__mobile-category{
                @include button.btnStyle(#fff, #d10157);
                justify-content: space-between;
                padding: 4% 2%;
                margin-bottom: 2px;
                width: 100%;
                span{
                    margin: 2px 0;
                    color: #fff;
                }
            }
        }
    }
}
