.banner__container{
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    padding: 10px 0;
}
.banner__body{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .banner__details{
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1{
            margin-bottom: 0;
        }
        p{
            font-size: 15px;
        }
        .banner__btn {
            margin-top: 2px;
            appearance: none;
            border: 0;
            background-color: #d10157;
            color: #fff;
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}